.projectsContain {
  display: flex;
  padding-top: 50px;
  height: 100vh;
}
.slideImage {
  width: 360px;
  height: auto;
  border-radius: 8px;
}
.slideRightContent {
  max-width: 100%;
  margin: 100px 30px;
}
.navigationBtn {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.prevBtn {
  position: relative;
  padding-right: 10px;
  border-right: 2px solid #fff;
  cursor: pointer;
  font-size: 18px;
}
.prevBtn::after {
  position: absolute;
  bottom: -5px;

  opacity: 0;
  height: 2px;
  left: -16px;
  right: -16px;
  background-color: #fff;
  content: '';
}
.prevBtn:hover::after {
  left: 0;
  right: 0;
  opacity: 1;
  transition: 0.3s all;
}
.nextBtn {
  position: relative;
  cursor: pointer;
  font-size: 18px;
}
.nextBtn::after {
  position: absolute;
  bottom: -5px;

  opacity: 0;
  height: 2px;
  left: -16px;
  right: -16px;
  background-color: #fff;
  content: '';
}
.nextBtn:hover::after {
  left: 0;
  right: 0;
  opacity: 1;
  transition: 0.3s all;
}
.slideTitle {
  text-transform: uppercase;
  margin: 20px 0;
  color: #fff;
  text-shadow: -1px -1px 0 #d18111, 1px -1px 0 #d18111, -1px 1px 0 #d18111,
    1px 1px 0 #d18111;
}
.slideContent {
  display: block;
  margin: 0 40px 0 0;
}
@media (max-width: 768px) {
  .icon-section {
    margin: 20px;
  }
  .projectsContain {
    flex-direction: column;
    padding-top: 0;
    align-items: center;
    height: auto;
  }
  .slideRightContent {
    margin: 20px 10px;
    text-align: center;
  }
  .navigationBtn {
    justify-content: center;
  }
  .slideImage {
    width: 80%;
    margin: 0px auto;
    max-height: 500px;
  }
  .slideContent {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .slideImage {
    width: 100%;
  }
}
