@keyframes btn {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.text-justify {
  text-align: justify;
}

.contain {
  display: flex;
}

.leftColumn {
  color: #fff;
  width: 25%;
  border-right: 1px solid #fff;
}

.rightColumn {
  color: #fff;
  width: 75%;
  align-self: center;
}

.leftContent {
  color: #fff;
  margin: 60px 20px;
}

.rightContent {
  max-width: 720px;
  margin: 0px 30px;
}

.registerBtn {
  color: #ffffff;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ffffff;
  padding: 0 24px;
  margin-right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  height: 36px;
  z-index: 1;
  background-color: transparent;
  margin-top: 15px;
}

.registerBtn:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0%;
  background: #f07109;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.registerBtn:hover {
  color: #ffffff;
  border-color: #f07109;
  background: rgba(255, 255, 255, 0.2);
}

.registerBtn:hover::before {
  width: 100%;
}

.aboutimg {
  width: 23vw;
  height: auto;
  margin-bottom: 16px;
}

.aboutimg1 {
  width: 68vw;
  height: auto;
}

.aboutimg img {
  width: 100%;
  height: auto;
}

.aboutimg1 img {
  width: 100%;
  height: auto;
}
.registerBtnNew {
  min-width: 200px;
  min-height: 50px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  animation: button 0.5s infinite;
  margin-top: 20px;
}

.registerBtnNew::before {
  content: '';
  border-radius: 1000px;
  min-width: 212px;
  min-height: 62px;
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.registerBtnNew:hover,
.registerBtnNew:focus {
  color: #fff;
  transform: translateY(-6px);
}

.registerBtnNew:hover::before,
.registerBtnNew:focus::before {
  opacity: 1;
}

.registerBtnNew::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1s infinite;
}

.registerBtnNew:hover::after,
.registerBtnNew:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 250px;
    height: 250px;
    opacity: 0;
  }
}
@keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .aboutimg {
    width: 90vw;
    margin: 30px auto;
  }
}
