.wrapper {
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  background-image: url(../../asset/12.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.wrapper::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.aboutUs {
  z-index: 1;
  position: relative;
}
.aboutUs p {
  opacity: 0;
  transition: all 0.6s;
  transform: translateY(-100%);
}
.aboutUs h1 {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(120%);
}
.aboutUs h2 {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(120%);
}
.aboutUs .buttonContain {
  opacity: 0;
  transition: all 0.4s;
}
.aboutUs .rightContent {
  margin-bottom: 60px;
}
.services {
  z-index: 1;
  position: relative;
}
.services h1 {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(120%);
}
.services h2 {
  position: relative;
  opacity: 0;
  transition: all 0.4s;
  transform: translateX(-100%);
  overflow-x: hidden;
}
.services .rightColumn h2::before {
  content: '';
  background: #ffffff;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: left 0.3s, width 0.3s, opacity 0.5s;
}
.services p {
  opacity: 0;
  transition: all 0.6s;
  transform: translateY(-100%);
}
.services .buttonContain {
  opacity: 0;
  transition: all 0.4s;
}
.projects {
  z-index: 1;
  position: relative;
}
.projects .slideTitle {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(100%);
}
.projects p {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(-100%);
}
.projects .slideCategory {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(-100%);
}
.home h2 {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(100%);
}
.home h3 {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(100%);
}
.home p {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(-100%);
}
.home .buttonContain {
  opacity: 0;
  transition: all 0.4s;
}
.voucher {
  position: relative;
}
.active p {
  transition-delay: 1s;
  transform: translateY(0);
  opacity: 1;
}
.active h1 {
  transition-delay: 0.6s;
  transform: translateY(0);
  opacity: 1;
}
.active h2 {
  transition-delay: 0.8s;
  transform: translateY(0);
  opacity: 1;
}
.active .home h2 {
  transition-delay: 0.6s;
  transform: translateY(0);
  opacity: 1;
}
.active h3 {
  transition-delay: 0.8s;
  transform: translateY(0);
  opacity: 1;
}
.active .buttonContain {
  transition-delay: 1.2s;
  opacity: 1;
}
.active .slideTitle {
  transition-delay: 0.8s;
  transform: translateY(0);
  opacity: 1;
}
.active .slideCategory {
  transition-delay: 0.6s;
  transform: translateY(0);
  opacity: 1;
}
.active .rightColumn h2::before {
  opacity: 1;
  transition: left 0.9s, width 0.3s;
  transition-delay: 0.9s;

  width: 100%;
  left: 100%;
}

@media (max-width: 1024px) {
  .aboutUs p {
    opacity: 1;
    transition: all 0.6s;
    transform: unset;
  }
  .aboutUs h1 {
    opacity: 1;
    transition: all 0.4s;
    transform: unset;
  }
  .aboutUs h2 {
    opacity: 1;
    transition: unset;
    transform: unset;
  }
  .aboutUs .buttonContain {
    opacity: 1;
    transition: all 0.4s;
  }
  .services {
    z-index: 1;
    position: relative;
  }
  .services h1 {
    opacity: 1;
    /* transition: all 0.4s; */
    transform: unset;
  }
  .services h2 {
    position: relative;
    opacity: 1;
    transition: unset;
    transform: unset;
  }
  .services .rightColumn h2::before {
    display: none;
  }
  .services p {
    opacity: 1;
    transition: unset;
    transform: unset;
  }
  .services .buttonContain {
    opacity: 1;
    transition: unset;
  }

  .projects .slideTitle {
    opacity: 1;
    transition: unset;
    transform: unset;
  }
  .projects p {
    opacity: 1;
    transition: unset;
    transform: unset;
  }
  .projects .slideCategory {
    opacity: 1;
    transition: unset;
    transform: unset;
  }
  .home h2 {
    opacity: 1;
    transform: unset;
  }
  .home h3 {
    opacity: 1;
    transform: unset;
  }
  .home p {
    opacity: 1;
    transform: unset;
  }
  .home .buttonContain {
    opacity: 1;
  }
}
