* {
  box-sizing: border-box;
  padding: 0;
  /* margin: 0; */
}
html {
  font-family: Roboto Condensed;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow: hidden;
}
@media (max-width: 1200px) {
  html {
    overflow: scroll;
  }
}
